In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('../datasets/kaggle/hotel_bookings.csv')

In [21]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [24]:
ham = ['lead_time', 'is_repeated_guest', 'previous_cancellations', 'deposit_type', 'days_in_waiting_list','customer_type', 'adr', 'reservation_status']

In [41]:
new_data = data.get(ham)

In [43]:
new_data.head()

,lead_time,is_repeated_guest,previous_cancellations,deposit_type,days_in_waiting_list,customer_type,adr,reservation_status
0,342,0,0,No Deposit,0,Transient,0.0,Check-Out
1,737,0,0,No Deposit,0,Transient,0.0,Check-Out
2,7,0,0,No Deposit,0,Transient,75.0,Check-Out
3,13,0,0,No Deposit,0,Transient,75.0,Check-Out
4,14,0,0,No Deposit,0,Transient,98.0,Check-Out

In [45]:
new_data.shape

(119390, 8)

In [47]:
new_data.describe(include='all')

,lead_time,is_repeated_guest,previous_cancellations,deposit_type,days_in_waiting_list,customer_type,adr,reservation_status
count,119390.000000,119390.000000,119390.000000,119390,119390.000000,119390,119390.000000,119390
unique,NaN,NaN,NaN,3,NaN,4,NaN,3
top,NaN,NaN,NaN,No Deposit,NaN,Transient,NaN,Check-Out
freq,NaN,NaN,NaN,104641,NaN,89613,NaN,75166
mean,104.011416,0.031912,0.087118,NaN,2.321149,NaN,101.831122,NaN
std,106.863097,0.175767,0.844336,NaN,17.594721,NaN,50.535790,NaN
min,0.000000,0.000000,0.000000,NaN,0.000000,NaN,-6.380000,NaN
25%,18.000000,0.000000,0.000000,NaN,0.000000,NaN,69.290000,NaN
50%,69.000000,0.000000,0.000000,NaN,0.000000,NaN,94.575000,NaN
75%,160.000000,0.000000,0.000000,NaN,0.000000,NaN,126.000000,NaN
max,737.000000,1.000000,26.000000,NaN,391.000000,NaN,5400.000000,NaN

In [48]:
np.unique(new_data['deposit_type'], return_counts=True)

(array(['No Deposit', 'Non Refund', 'Refundable'], dtype=object),
 array([104641,  14587,    162], dtype=int64))

In [50]:
cut = new_data.get('deposit_type')

In [51]:
cut.count(np.)

KeyError: 'Requested level (nan) does not match index name (None)'

In [14]:
X, y = data.drop(['is_canceled'], axis=1), data['is_canceled']

In [15]:
X.shape

(119390, 31)

In [16]:
y.shape

(119390,)